@model IEnumerable<ArunServiceStation.Customer>

@{
    ViewBag.Title = "Register";
}

    <h2>History</h2>

    <p>
        <div>
            <a href="@Url.Action("DownloadExcel","Customers")">Download Excel</a>
        </div>
    </p>

